.table-container {
  border: 2px solid red;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.opponents-row {
  border: 2px solid peru;
}
.opponents-row > div {
  border: 2px solid black;
}

.deck-row {
  min-height: 100px;
  background-color: darkolivegreen;
}
