body {
  font-family: lato;
}

.main-window {
  background-color: #343a40;
  padding-bottom: 10%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.opponents-row {
  justify-content: space-between;
  align-items: center;
  background: #556b2fad;
}
.opponents-row-title {
  font-size: 2rem;
  text-align: center;
  display: block;
  color: #6c757d;
  left: 0;
  transform: rotate(-90deg);
}
.opponents-row > div {
  max-width: 200px;
}

.deck-row {
  background-color: darkolivegreen;
  justify-content: space-between;
  min-height: 250px;
  align-items: center;
}

.deck-row-title {
  max-width: 200px;
  font-size: 0.8rem;
  color: white;
}

.player-row {
  align-items: center;
  background: #556b2fad;
  color: darkolivegreen;
  justify-content: space-evenly;
}
.player-row-info {
  max-width: 200px;
}
.player-row-card {
  max-width: 36%;
}

.player-row-card .card:first-child {
  margin-right: 10px;
}

.player-row-buttons {
  min-width: 100px;
}
.player-row-buttons > button {
  margin-bottom: 10px;
}
