body {
  font-family: lato;
}

.main-window {
  background-color: #343a40;
  padding-bottom: 10%;
  min-height: 1000px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.opponents-row {
  justify-content: space-between;
  align-items: center;
  background: #556b2fad;
}
.opponents-row-title {
  font-size: 2rem;
  text-align: center;
  display: block;
  color: #6c757d;
  left: 0;
  transform: rotate(-90deg);
}
.opponents-row > div {
  max-width: 200px;
}

.player-transparent {
  opacity: 0.5;
}

.deck-row {
  background-color: darkolivegreen;
  justify-content: space-around;
  min-height: 250px;
  align-items: center;
}

.deck-row-title {
  max-width: 200px;
  font-size: 0.8rem;
  color: white;
}

.deck-row-cards > .card {
  max-width: 100px;
  margin-right: 10px;
}

.player-row {
  align-items: center;
  background: #556b2fad;
  color: darkolivegreen;
  justify-content: space-evenly;
}
.player-row-info {
  max-width: 200px;
}

/* Card Styling Begin */
.player-row-card .card {
  max-width: 100px;
}

.player-row-card .card:first-child {
  margin-right: 10px;
}

.card-content {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .card-content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.card-content-back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  background-color: papayawhip;
  height: 100%;
  width: 100%;
}

.card-content-back,
.card-content-front {
  backface-visibility: hidden;
}

/* .card:hover .card-content .card-content-back {
  display: block;
}
.card:hover .card-content .card-content-front {
  display: none;
  transition: display 0.5s;
}


.card-content-back {
  transform: rotateY(180deg);
  display: none;
} */

/* Card Styling End */

.player-row-buttons {
  min-width: 100px;
  margin: 20px 0 20px 0;
}
.player-row-buttons > button {
  margin-bottom: 10px;
}

/* Slider */
.bet-slider__range {
  height: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #fff;
}

.bet-slider__range:hover {
  background: #1abc9c;
}

.bet-slider__range:active {
  background: #1abc9c;
}

/* Focus state */
.bet-slider__range:focus {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

/* Range Label */
.bet-slider__value {
  width: 60px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.tokens {
  justify-content: space-around;
}
.tokens-d,
.tokens-bb,
.tokens-sb {
  border: 1px solid;
  border-radius: 50%;
  width: 24px;
}

.tokens-bb {
  border: 1px solid red;
  color: white;
  background-color: red;
}
.tokens-sb {
  border: 1px solid darkkhaki;
  color: white;
  background-color: darkkhaki;
}

.current-player {
  animation: animationFrames linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -25px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -15px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.allgames > tbody > tr > td,
.allgames > tbody > tr > th {
  vertical-align: baseline;
}

.loading-text {
  color: #fff;
}
.awaiting-opponents {
  font-size: 1.5rem;
  justify-content: center;
  color: darkgray;
}

.table-container {
  padding-top: 100px;
}
